@media only screen and (max-width:767px) {
    body {
        font-size: 15px
    }
    p {
        font-size: 15px;
        line-height: 1.8
    }
    .ptb-100 {
        padding-top: 60px;
        padding-bottom: 60px
    }
    .pt-100 {
        padding-top: 60px
    }
    .pb-100 {
        padding-bottom: 60px
    }
    .ptb-70 {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .pt-70 {
        padding-top: 30px
    }
    .pb-70 {
        padding-bottom: 30px
    }
    .section-title {
        max-width: 100%;
        width: 100%;
        margin-bottom: 40px;
        margin-right: 0;
        margin-left: 0
    }
    .section-title .sub-title {
        font-size: 14px;
        margin-bottom: 8px
    }
    .section-title h2 {
        font-size: 24px;
        line-height: 1.3
    }
    .section-title p {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px
    }
    .default-btn {
        padding: 10px 20px;
        font-size: 14px
    }
    .form-control {
        font-size: 14px
    }
    .container {
        max-width: 100%
    }
    .main-banner {
        padding-top: 130px
    }
    .main-banner-content {
        text-align: center
    }
    .main-banner-content h1 {
        margin-bottom: 12px;
        font-size: 48px;
    }
    .main-banner-content h1 br {
        display: none
    }
    .main-banner-content form .input-newsletter {
        font-size: 14px;
        height: 48px
    }
    .main-banner-content form button {
        position: relative;
        display: block;
        width: 100%;
        margin-top: 15px;
        font-size: 14px;
        height: 48px
    }
    .main-banner-image {
        padding-top: 0;
        margin-top: 30px
    }
    .main-banner-image .banner-shape {
        display: none
    }
    .followers-area::before {
        height: 15%
    }
    .single-followers-box {
        padding: 20px 15px
    }
    .single-followers-box h3 {
        margin-bottom: 8px;
        font-size: 32px
    }
    .single-followers-box h3 .odometer {
        top: -1px
    }
    .single-followers-box .sub-title {
        margin-bottom: 10px;
        font-size: 17px
    }
    .single-followers-box .link {
        padding-left: 20px;
        font-size: 15px
    }
    .single-followers-box .link i {
        top: 1px
    }
    .shape1 {
        display: none
    }
    .about-area {
        margin-bottom: 50px;
        border-bottom: 1px solid #eee
    }
    .about-image {
        margin-bottom: 30px;
        padding-right: 0;
        padding-bottom: 0
    }
    .about-image .shape {
        display: none
    }
    .about-content {
        max-width: 100%;
        padding-left: 0;
        text-align: center
    }
    .about-content .sub-title {
        font-size: 14px;
        margin-bottom: 8px
    }
    .about-content h2 {
        font-size: 24px;
        line-height: 1.3
    }
    .about-content .btn-box .email {
        margin-left: 5px;
        font-size: 14px
    }
    .single-social-statistics-box {
        padding: 25px 20px
    }
    .single-social-statistics-box h3 {
        margin-bottom: 8px;
        font-size: 32px
    }
    .single-social-statistics-box h3 .odometer {
        top: -1px
    }
    .single-social-statistics-box .sub-title {
        margin-bottom: 10px;
        font-size: 17px
    }
    .single-social-statistics-box .link {
        padding-left: 20px;
        font-size: 15px
    }
    .single-social-statistics-box .link i {
        top: 1px
    }
    .audience-image {
        padding-left: 0
    }
    .audience-image .image img {
        width: 100%;
        border-radius: 0
    }
    .audience-content {
        padding-right: 0;
        text-align: center;
        margin-bottom: 30px
    }
    .audience-content .sub-title {
        font-size: 14px;
        margin-bottom: 8px
    }
    .audience-content h2 {
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: -5px
    }
    .audience-content .audience-content-inner {
        margin-top: 25px
    }
    .audience-content .audience-content-inner h5 {
        font-size: 14px
    }
    .audience-content .instagram-audience-content .audience-text {
        margin-bottom: 25px
    }
    .audience-content .instagram-audience-content .audience-text h4 {
        font-size: 20px
    }
    .audience-content .instagram-audience-content .audience-text h4 span {
        margin-left: 2px;
        font-size: 16px
    }
    .audience-content .instagram-audience-content .audience-item .audience-header {
        left: 10px;
        top: 4px;
        font-size: 14px
    }
    .audience-content .instagram-audience-content .audience-item .audience-header .count-box {
        font-size: 16px
    }
    .audience-content .single-collaborations-box h3 {
        font-size: 20px
    }
    .audience-content .single-collaborations-box h3 .odometer {
        top: 0
    }
    .audience-content .single-collaborations-box p {
        font-size: 14px
    }
    .single-partners-box a {
        padding: 15px
    }
    .video-area {
        padding-top: 60px;
        background-image: unset!important
    }
    .video-area .container-fluid {
        padding-left: 15px;
        padding-right: 15px
    }
    .video-content {
        margin-left: 0;
        max-width: 100%;
        padding-right: 0;
        text-align: center
    }
    .video-content .sub-title {
        font-size: 14px;
        margin-bottom: 8px
    }
    .video-content h2 {
        font-size: 24px;
        line-height: 1.3
    }
    .video-content p {
        max-width: 100%;
        margin-top: 12px
    }
    .video-content .video-btn {
        margin-top: 5px;
        font-size: 15px
    }
    .video-content .video-btn i {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 17px;
        margin-right: 5px
    }
    .video-image {
        margin-top: 30px
    }
    .podcast-area {
        border-top: 1px solid #eee;
        padding-top: 50px;
        margin-top: 60px
    }
    .podcast-area .section-title {
        max-width: 100%
    }
    .overview-box {
        margin-top: 35px;
        padding-bottom: 35px;
        text-align: center;
        border-bottom: 1px solid #eee
    }
    .overview-box .overview-image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 30px
    }
    .overview-box .overview-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }
    .overview-box .overview-content .content {
        padding: 0!important
    }
    .overview-box .overview-content .content h3 {
        margin-bottom: 10px;
        font-size: 20px
    }
    .overview-box:nth-child(2) {
        margin-top: 0
    }
    .overview-box:last-child {
        border-bottom: none;
        padding-bottom: 0
    }
    .blog-area {
        padding-top: 60px;
        border-top: 1px solid #eee
    }
    .single-blog-post .post-content {
        padding: 20px 15px
    }
    .single-blog-post .post-content h3 {
        font-size: 18px
    }
    .subscribe-content {
        margin-left: 0;
        max-width: 100%;
        text-align: center;
        padding-right: 0
    }
    .subscribe-content h2 {
        font-size: 24px;
        line-height: 1.3
    }
    .subscribe-content .btn-box {
        margin-top: 20px
    }
    .subscribe-content .btn-box .email {
        margin-left: 5px;
        font-size: 14px
    }
    .subscribe-form {
        margin-top: 30px;
        max-width: 100%;
        padding: 20px
    }
    .subscribe-form form button {
        font-size: 14px
    }
    .page-title-area {
        height: 300px;
        margin-top: 50px
    }
    .blog-details-header h3 {
        margin-bottom: 20px;
        font-size: 19px;
        line-height: 1.4
    }
    .blog-details-header .entry-meta {
        margin-bottom: -25px
    }
    .blog-details-header .entry-meta ul li {
        font-size: 14px;
        margin-bottom: 15px;
        margin-right: 15px;
        padding-right: 15px;
        padding-left: 0
    }
    .blog-details-header .entry-meta ul li i {
        display: none
    }
    .blog-details-header .entry-meta ul li span {
        font-size: 13px
    }
    .blog-details-desc .article-content p {
        font-size: 14.5px
    }
    .blog-details-desc .article-content h3 {
        font-size: 19px;
        line-height: 1.4
    }
    .blog-details-desc .article-content .features-list li {
        font-size: 14.5px
    }
    .blog-details-desc .article-footer {
        padding-top: 25px;
        text-align: center
    }
    .blog-details-desc .article-footer .article-tags {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .blog-details-desc .article-footer .article-share {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .blog-details-desc .article-footer .article-share .social {
        text-align: center;
        margin-top: 15px
    }
    blockquote, .blockquote {
        padding: 30px!important
    }
    blockquote p, .blockquote p {
        font-size: 17px!important
    }
    .prev-link-wrapper {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0
    }
    .prev-link-wrapper .prev-title {
        font-size: 15px
    }
    .next-link-wrapper {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 25px;
        padding-left: 0
    }
    .next-link-wrapper .next-title {
        font-size: 15px
    }
    .comments-area .comments-title {
        font-size: 19px
    }
    .comments-area p {
        font-size: 14.5px
    }
    .comments-area .comment-author .avatar {
        height: 50px;
        left: 0;
        position: relative;
        width: 50px;
        display: block;
        margin-bottom: 10px
    }
    .comments-area .comment-body {
        padding-left: 0
    }
    .comments-area .comment-respond .comment-reply-title {
        font-size: 19px
    }
    .comments-area .comment-respond .comment-form-author {
        width: 100%;
        padding-right: 0
    }
    .comments-area .comment-respond .comment-form-email {
        width: 100%;
        padding-left: 0
    }
    .comments-area .comment-respond .form-submit input {
        font-size: 14px;
        padding: 10px 30px
    }
    .comments-area .comment-respond .comment-form-cookies-consent label {
        font-size: 15px
    }
    .footer-area {
        text-align: center
    }
    .footer-area p {
        line-height: 1.5
    }
    .footer-area ul {
        text-align: center;
        margin-top: 12px
    }
    .footer-area ul li {
        margin-left: 2px;
        margin-right: 2px
    }
    .footer-area ul li:last-child {
        margin-right: 0
    }
    .footer-area ul li a {
        width: 33px;
        height: 33px;
        font-size: 14px
    }
    .contactModal .modal-dialog {
        max-width: 290px
    }
    .contactModal .modal-dialog .modal-content {
        padding: 40px 10px 10px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .container {
        max-width: 540px
    }
    .main-banner-content form button {
        position: absolute;
        display: inline-block;
        width: auto;
        margin-top: 0;
        font-size: 14px;
        height: 48px
    }
    .about-area .container-fluid {
        max-width: 540px
    }
    .audience-content .instagram-collaborations-content .col-lg-6:nth-child(2) .single-collaborations-box {
        margin-top: 0
    }
    .video-area .container-fluid {
        max-width: 540px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    body {
        font-size: 16px
    }
    p {
        font-size: 16px
    }
    .container {
        max-width: 720px
    }
    .ptb-100 {
        padding-top: 80px;
        padding-bottom: 80px
    }
    .pt-100 {
        padding-top: 80px
    }
    .pb-100 {
        padding-bottom: 80px
    }
    .ptb-70 {
        padding-top: 50px;
        padding-bottom: 50px
    }
    .pt-70 {
        padding-top: 50px
    }
    .pb-70 {
        padding-bottom: 50px
    }
    .section-title {
        max-width: 660px
    }
    .section-title .sub-title {
        font-size: 16px
    }
    .section-title h2 {
        font-size: 30px
    }
    .main-banner {
        padding-top: 140px
    }
    .main-banner-content {
        text-align: center;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto
    }
    .main-banner-content h1 {
        font-size: 55px
    }
    .main-banner-image {
        padding-top: 0;
        margin-top: 30px
    }
    .main-banner-image .banner-shape img:nth-child(1) {
        left: 0
    }
    .followers-area::before {
        height: 30%
    }
    .single-followers-box {
        padding: 25px 20px
    }
    .single-followers-box h3 {
        font-size: 35px
    }
    .single-followers-box .sub-title {
        font-size: 19px
    }
    .shape1 {
        display: none
    }
    .about-area {
        margin-bottom: 70px;
        border-bottom: 1px solid #eee
    }
    .about-area .container-fluid {
        max-width: 720px
    }
    .about-content {
        padding-right: 0;
        text-align: center;
        margin-top: 30px
    }
    .about-content .sub-title {
        font-size: 16px
    }
    .about-content h2 {
        font-size: 30px
    }
    .single-social-statistics-box {
        padding: 25px 20px
    }
    .single-social-statistics-box h3 {
        font-size: 35px
    }
    .single-social-statistics-box .sub-title {
        font-size: 19px
    }
    .audience-image {
        padding-left: 0
    }
    .audience-image .image {
        text-align: center
    }
    .audience-image .image img {
        width: 100%
    }
    .audience-content {
        padding-right: 0;
        margin-bottom: 30px;
        text-align: center
    }
    .audience-content .sub-title {
        font-size: 16px
    }
    .audience-content h2 {
        font-size: 30px
    }
    .audience-content .audience-content-inner h5 {
        font-size: 16px
    }
    .audience-content .instagram-audience-content .audience-text h4 {
        font-size: 22px
    }
    .audience-content .instagram-audience-content .audience-text h4 span {
        font-size: 18px
    }
    .video-area {
        padding-top: 80px;
        background-image: unset!important
    }
    .video-area .container-fluid {
        max-width: 720px;
        padding-left: 15px;
        padding-right: 15px
    }
    .video-content {
        text-align: center;
        max-width: 100%;
        margin-left: 0;
        padding-right: 0
    }
    .video-content .sub-title {
        font-size: 16px
    }
    .video-content h2 {
        font-size: 30px
    }
    .video-content p {
        max-width: 100%
    }
    .video-image {
        margin-top: 30px
    }
    .podcast-area {
        border-top: 1px solid #eee;
        padding-top: 70px;
        margin-top: 80px
    }
    .podcast-area .section-title {
        max-width: 600px
    }
    .overview-box {
        margin-top: 40px;
        text-align: center;
        padding-bottom: 40px;
        border-bottom: 1px solid #eee
    }
    .overview-box .overview-image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 30px
    }
    .overview-box .overview-image img {
        width: 100%
    }
    .overview-box .overview-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }
    .overview-box .overview-content .content {
        padding: 0!important
    }
    .overview-box .overview-content .content h3 {
        margin-bottom: 10px;
        font-size: 25px
    }
    .overview-box:nth-child(2) {
        margin-top: 0
    }
    .overview-box:last-child {
        padding-bottom: 0;
        border-bottom: none
    }
    .blog-details-desc .article-content p {
        font-size: 15px
    }
    .blog-details-desc .article-content .features-list li {
        font-size: 15px
    }
    .blog-area {
        border-top: 1px solid #eee;
        padding-top: 80px
    }
    .single-blog-post .post-content {
        padding: 20px
    }
    .single-blog-post .post-content h3 {
        font-size: 20px
    }
    .subscribe-content {
        text-align: center;
        margin-left: 0;
        max-width: 100%;
        padding-right: 0
    }
    .subscribe-content h2 {
        font-size: 30px
    }
    .subscribe-content p {
        max-width: 555px;
        margin-left: auto;
        margin-right: auto
    }
    .subscribe-form {
        max-width: 555px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px
    }
    .page-title-area {
        margin-top: 40px
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    body {
        font-size: 16px
    }
    p {
        font-size: 16px
    }
    .container {
        max-width: 960px
    }
    .section-title {
        max-width: 775px
    }
    .section-title h2 {
        font-size: 35px
    }
    .section-title p {
        margin-top: 10px
    }
    .main-banner-content h1 {
        font-size: 64px
    }
    .main-banner-content form button {
        position: relative;
        display: block;
        width: 100%;
        margin-top: 15px
    }
    .shape1 {
        display: none
    }
    .single-followers-box {
        padding: 35px 30px
    }
    .single-followers-box h3 {
        font-size: 40px
    }
    .about-area .container-fluid {
        max-width: 960px
    }
    .about-image {
        padding-right: 0;
        padding-bottom: 0
    }
    .about-image .shape img:nth-child(1) {
        display: none
    }
    .about-content {
        padding-left: 0;
        max-width: 100%
    }
    .about-content h2 {
        font-size: 34px
    }
    .single-social-statistics-box {
        padding: 35px 30px
    }
    .single-social-statistics-box h3 {
        font-size: 40px
    }
    .video-area {
        padding-top: 100px;
        padding-bottom: 100px
    }
    .video-area .container-fluid {
        max-width: 960px;
        padding-left: 15px;
        padding-right: 15px
    }
    .video-content h2 {
        font-size: 34px
    }
    .followers-engagement-rate h3 {
        font-size: 40px
    }
    .followers-engagement-rate p {
        font-size: 19px
    }
    .overview-box .overview-content .content h3 {
        font-size: 25px
    }
    .single-blog-post .post-content {
        padding: 20px
    }
    .single-blog-post .post-content h3 {
        font-size: 20px
    }
    .subscribe-content {
        max-width: 100%;
        margin-left: 0;
        padding-right: 50px
    }
    .subscribe-form {
        max-width: 100%
    }
    .blog-details-header h3 {
        font-size: 25px
    }
    .blog-details-header .entry-meta ul li {
        font-size: 15px
    }
    .blog-details-header .entry-meta ul li a {
        font-size: 14px
    }
    .blog-details-desc .article-content p {
        font-size: 15px
    }
    .blog-details-desc .article-content .features-list li {
        font-size: 15px
    }
    .blog-details-desc .article-content h3 {
        font-size: 20px
    }
    .prev-link-wrapper .prev-title {
        font-size: 16px
    }
    .next-link-wrapper .next-title {
        font-size: 16px
    }
    .comments-area .comments-title {
        font-size: 20px
    }
    .comments-area p {
        font-size: 15px
    }
    .comments-area .comment-respond .comment-reply-title {
        font-size: 20px
    }
}